@{
    ViewData["Title"] = "Home Page";
}
<img id="photo1" src="~/css/Photos/diverOnBoard.jpg" alt="Diver on a board"/>
<div class="text-center">
    <h1 class="display-4">Welcome Divers!</h1>
    <p>Please use this resource to plan your dive set for meets! There are many resources here such as diving judging guidelines and example videos.</p>
</div>
