html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

tr:hover{
    background-color: cyan;
    transition-duration: .5s;
}

body {
   
    background-image: url(Photos/Blue-Background.jpg);;
    
}

.button:hover{
    border-radius: 4px;
    background-color: cyan;
   transition-duration:.5s;
   color: black;

   
}
.button:active {
    transform: translateY(6px);
    color: black;
}
.button {
    border-radius: 4px;
    background-color:transparent;
    color: black;
}
nav-link text-dark:hover{
    color: cyan;
    transition-duration: 0.5s;
}
#photo1{
    width: 15%;
    border-radius: 75%;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
    
}



