<h2>Please use a Dive Number that has not been used yet!</h2>
<div style="display: block">
    <p>Please refer to the <a class="button" href="https://www.nfhs.org/activities-sports/swimming-diving/">Diving Officials Guidelines Manual</a> starting at page 20 for more information about choosing a dive number</p>
</div>

    <nav>
        <ul>
        <li> <a class="button" href="/Dive/InsertDive">Try creating your dive again!</a></li>
            <li><a class="button" href="/Dive/Index">See dive numbers already in use!</a></li>
        </ul>
    </nav>